* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #393939;
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    font-weight: 300;
}

.row {
    max-width: 1140px;
    margin: 0px auto;

}

h1,
h2,
h3 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
}

h1 {
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 10px;
}

h2:after {
    height: 2px;
    background-color: #d87a0c;
    content: " ";
    display: block;
    /* width: 900px;
    margin: 0 auto; */
}

.box {
    padding: 1%;
}

.box p {
    font-size: 90%;
    text-align: justify;
}

.icon-big {
    font-size: 50px;
    color: #d65504;
    display: inline-block;
    margin: 20px;
}


header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.703), rgba(0, 0, 0, 0.703)), url(../img/img/hero.jpg);
    background-position: center;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1140px;
    transform: translate(-50%, -50%);
}

.logo-white{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 10px;
}

.logo-black{
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

.main-nav {
    margin-top: 40px;
    float: right;
    list-style: none;
}

.main-nav li {
    margin-left: 40px;
    display: inline-block;
}

.main-nav li a:link, 
.main-nav li a:visited{
    padding: 8px 0;
    text-decoration: none;
    color: white;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover {
    border-bottom: 2px solid #d87a0c;
    padding-bottom: 8px;
}

section {
    padding: 80px 0;
}

.feature-text {
    width: 70%;
    margin-left: 15%;
    line-height: 145%;
}

.section-meals {
    padding: 0px;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    width: 25%;
    float: left;
}

.meals-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meals-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s;
}

.meals-photo img:hover {
    transform: scale(1.04);
    opacity: 1;
}

.section-works {
    background-color: #e5e5e5;
}

.phone-img {
    width: 40%;
}

.app-image:link,
.app-image:visited {
    border: 0;
}

.app-image img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.step-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.step-box:last-child {
    padding-left: 3%;
    margin-top: 50px;
}

.work-steps {
    margin-bottom: 50px;
}

.work-steps div {
    border: 1px solid #f06712;
    width: 50px;
    height: 50px;
    font-size: 150%;
    text-align: center;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
    float: left;
}

.work-steps:last-of-type {
    margin-bottom: 100px;
}


.clearfix {
    zoom: 1;
}

.clearfix::after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.city-features {
    margin-bottom: 10px;
}

.icon-small {
    color: #d65504;
    display: inline-block;
    vertical-align: middle;

}

.box img {
    width: 100%;
    height: auto;
}

a:link,
a:visited {
    color: #d87a0c;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #d87a0c;
}

a:hover,
a:active {
    color: #393939;
    border-bottom: 1px solid transparent;
}

.section-testimonials {
    background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(resources/img/img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}


blockquote:before{
content: "\201C";
font-size: 400%;
display: block;
position: relative;
top: 5px;
left: -5px;

}

blockquote {
    padding: 2%;
    line-height: 145%;
    font-style: italic;
}

cite {
    display: block;
    margin-top: 20px;
    font-size: 90%;
}

cite img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    vertical-align: middle;
margin-right: 10px;

}

.plan-box{
    background-color: #fff;
    border-radius: 15px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 5px 5px 8px #d9d9d9;
}

.plan-box ul{
    list-style: none;
}

.plan-box ul li{
    padding: 5px 0;
}


.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #dddddd;
}

.plan-box div:first-child{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #fcfcfc;
}

.plan-box div:last-child{
    text-align: center;
    border: 0;
}

.plan-per-month{
    font-size: 300%;
    color: #d87a0c;
    font-weight: 100;
    margin-bottom: 5px;
}

.plan-per-month span{
font-size: 30%;
font-weight: 300;
}

.plan-per-meal{
    font-size: 80%;
}

.section-plans{
    background-color: #e5e5e5;
}

.contact-form{
    width: 60%;
    margin: 0 auto;
}

input[type=text], input[type=email], textarea, select{
    width: 100%;
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
}

*:focus{
    outline: none;
}

footer{
    background-color: #434343;
    padding: 45px;
}

.footer-navs{
    list-style: none;
    float: left;
}

.social-navs{
    list-style: none;
    float: right;
}

.footer-navs li, .social-navs li{
    display: inline-block;
    margin-right: 20px;
} 

.footer-navs li a:link,
.footer-navs li a:visited,
.social-navs li a:link,
.social-navs li a:visited{
text-decoration: none;
color: #909090;
border: 0;
}

.footer-navs li a:hover,
.footer-navs li a:active{
color: #e8e8e8;
}

.social-navs li a:link,
.social-navs li a:visited{
font-size: 150%;
}

.ion-social-facebook:hover, 
.ion-social-facebook:active{
color: #3b5998;
}

.ion-social-twitter:hover, 
.ion-social-twitter:active{
color: #00acee;
}

.ion-social-googleplus:hover, 
.ion-social-googleplus:active{
color: #db4a39;
}

.ion-social-instagram:hover, 
.ion-social-instagram:active{
color: purple;
}

footer p{
    color: #909090;
    text-align: center;
    margin-top: 20px;
}

.sticky {
position: fixed;
top: 0;
left: 0;  
width: 100%;
background-color: rgba(255, 255, 255, 0.97);
box-shadow: 0 1px 1px #cbcbcb;
z-index: 999;
}

.sticky .main-nav{
    margin-top: 15px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
color: #393939;
padding: 18px 0;
}

.sticky .logo-black{display: block;}
.sticky .logo-white{display: none;}

.js--wp-1,
.js--wp-2,
.js--wp-3{
    opacity: 0;
animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated{
    opacity: 1;
}

.js--wp-4{
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated{
    opacity: 1;
}


.btn:link,
.btn:visited, input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited, input[type=submit]{
    background-color: #f06712;
    margin-right: 10px;
    border: 1px solid #f06712;
    color: #fff;
}

.btn-border:link,
.btn-border:visited{
    border: 1px solid #d87a0c;
    color: #d87a0c;
}
.btn:hover,
.btn:active, input[type=submit]:hover{
    background-color: #be4b03;
}

.btn-full:hover,
.btn-full:active, input[type=submit]:hover{
    border: 2px solid #be4b03;
}

.btn-border:hover,
.btn-border:active{
    border: 2px solid #be4b03;
    color: #fff;
}
